<h2><%= @user.email %> pics:</h2>
  <% if @user.pics.any? %>
  <% @user.pics.each do |pic| %>
    <div class="image-container">
      <%= link_to image_tag(pic.image), user_pic_path(@user, pic.id) %>
    </div>
  <% end %>
  <% else %>
  <p>No images found.</p>
  <% end %>

<%= link_to 'Add photo', new_user_pic_path(@user) %>
